<%- include("./partials/head.ejs") %>  

    <%- include("./partials/nav.ejs") %>   
    <main>
        <div>
            <h2>Expand your vocabulary by keeping track of unfamiliar words you find in books</h2> <br>
            <h3>One of the books added by our users:</h3>
            <div class="randomContainer">
                    <%let randomBook = books[Math.floor(Math.random() * books.length)] %>
                    <strong><%= randomBook.title %></strong>
                    <%= randomBook.author %>
                    <%= randomBook.year %>
                    <img  src=<%= randomBook.bookCover %> alt="bookCover">
            </div>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>